.fade-in {
    opacity: 0;
    transition: opacity 1s;
  }
  
  .fade-in.show {
    opacity: 1;
  }


.fade-in.exit{
    opacity: 0;
}

.last-paragraph {
  opacity: 0;
}

.last-paragraph.show {
  opacity: 1;
}

#picture {
  opacity: 0;
  transition: opacity 1s; 
}

#picture.show {
  opacity: 1;
}